---
layout: default
---
{% comment %}
    This layout is used to by partners.md to display all of documents in
    the _partners/ collection
{% endcomment %}

{% include breadcrumbs.html %}
<div class="container pure-g">
    <div class="pure-u-1">
        <div class="content">
            <div class="grid-layout">
                <div class="container pure-g">
                    {% for partner in site.partners %}
                    <div class="pure-u-1 pure-u-md-1-3">
                        <div class="card">
                            <div class="card-header">
                                {{ partner.partner_name }}
                                 {{ partner.partner_color }}
                                {% if partner.partner_name  %}
                                <strong>
                                    {{ partner.partner_name }}
                                </strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<form name="contact" netlify="">
    <p>
        <label>
            Name
            <input name="name" type="text"/>
        </label>
    </p>
    <p>
        <label>
            Email
            <input name="email" type="email"/>
        </label>
    </p>
    <p>
        <button type="submit">
            Send
        </button>
    </p>
</form>